/venv*
/temp*
/test*
/doc
/logs
/data
/scripts
/build
/dist
/.pytest_cache
/.idea
/.vscode
/.bak
/.backup
/.config
/.ssh
/c++
*__pycache__*
*.bat
*.ico
*.pyc
*.png
*.jpg
*.spec
*.csv
*.hdf5
*.sha1
*.whl
*.log
*.yaml
plot.py
temp.py
